/*
Buttons

Кнопки бывают разного размера и цвета.
Вы можете использовать кнопки разных
видов на одной странице.

Markup:
<button class="button {{modifier_class}}">
    нажмите меня
</button>

.button--success    - зеленая кнопка оповещения
.button--danger     - красная предупреждающая кнопка
.button--small      - маленькая кнопка
.button--large      - большая кнопка

Styleguide Buttons
*/

.button {
    padding: lem 1.25em;
    border: lpx solid #265559;
    border-radius: 0.2em;
    background-color: transparent;
    font-size: 0.8rem;
    color: #333;
    font-weight: bold;
}
.button--success {
    border-color: #cfe8c9;
    color: #fff;
    background-color: #2f5926;
}
.button--danger {
    border-color: #e8c9c9;
    color: #fff;
    background-color: #a92323;
}
.button--small {
    font-size: 0.8rem;
}
.button--large {
    font-size: 1.2rem;        
}