/*
Dropdown

Меню. Нажмите кнопку, чтобы открыть/закрыть его.

Используйте JavaScript-код для класса is-open,
чтобы открывать/закрывать меню.

Markup:
<div class="dropdown">
    <button class="dropdown__toggle">Открыть меню</button>
    <div class="dropdown__drawer">
        Содержимое меню
    </div>
</div>

Styleguide Dropdown
*/
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown__toggle {
    padding: 0.5em 2em 0.5em 1.5em;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #eee;
}

.dropdown__toggle::after {
    content: '';
    position: absolute;
    right: 1em;
    top: 1em;
    border: 0.3em solid;
    border-color: black transparent transparent;
}

.dropdown__drawer {
    display: none;
    position: absolute;
    left: 0;
    top: 2.1em;
    min-width: 100%;
    background-color: #eee;
}

.dropdown.is-open .dropdown__toggle::after {
    top: 0.7em;
    border-color: transparent transparent black;
}

.dropdown.is-open .dropdown__drawer {
    display: block;
}